@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1>Introducing, The One and Only: Joel Hilton</h1>
    <h3>Joel's greatest accomplishment is being the brother of Spencer Hilton, but has also done some other great things</h3>
</div>

<br />
<br />

<div class="text-center">
    <h3>Comedy</h3>
    <p>Joel is a regular participant in and legend of Quick Wits Comedy, which is Utah's First and Funniest Comedy Improv</p>
    <p>Check out Quick Wits Comedy for yourself by clicking the link below!</p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
</div>
<br />
<br />
<div class="text-center">
    <h3>Movie Mastermind</h3>
    <p>Joel is also a movie fanatic, and is gracious enough to share his talents and knowledge to the world in his movie podcast: Baconsale</p>
    <p>Listening to the Baconsale podcast for an hour a day is the equivalent of working in Hollywood for 18 years</p>
    <p>Check it out below!</p>
    <a href="https://baconsale.com/">Baconsale</a>
    <br />
    <a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" width="50%"/></a>
</div>
<br />
<br />
