@{
    ViewData["Title"] = "Home Page";
}

<title>The Joel Hilton Film Collection</title>

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Movie Collection</h1>
    <p>Prepare yourself for an ever-expansive masterclass of movie documentation</p>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
